// Margin
$m0: 0;
$m1: .25rem;
$m2: .5rem;
$m3: 1rem;
$m4: 1.125rem;
$m5: 1.25rem;
$m6: 1.5rem;
$m7: 2rem;
$m8: 3rem;
$m9: 4rem;

// Padding
$p0: 0;
$p1: .25rem;
$p2: .5rem;
$p3: 1rem;
$p4: 1.125rem;
$p5: 1.25rem;
$p6: 1.5rem;
$p7: 2rem;
$p8: 3rem;
$p9: 4rem;

// Color
$white: #fff;
$black: #000;
$lt-gray: #ebebeb;
$md-gray: #ccc;
$gray: #666;
$dk-gray: #1f1f1f;
$blue: blue;

// Fonts
// Font size
$fsm: .875rem;
$fmd: 1rem;
$flg: 1.25rem;
$fxl: 1.5rem;
$fxxl: 2rem;
$fxxxl: 3rem;

// Font weight
$fw1: 300;
$fw2: 500;
$fw3: 700;
$fw4: 900;

// Line height
$l1: 1;
$l2: 1.25;
$l3: 1.5;
$l4: 1.75;
$l5: 2;

// Breakpoints
$sm: 576px;
$sm-max: $sm - 1;
$md: 768px;
$md-max: $md - 1;
$lg: 992px;
$lg-max: $lg - 1;
$xl: 1200px;
$xl-max: $xl - 1;
$xxl: 1400px;
$xxl-max: $xxl - 1;