@import '_config';
@import './partials/border.scss';
@import './partials/flex-grid.scss';
@import './partials/margins';
@import './partials/padding.scss';
@import './partials/typography.scss';


body {
    background-color: $white;
}

main {
    margin: $m0 auto;
    padding: $p0 $p3;
    max-width: 1200px;
}

section {
    margin: $m8 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dk-gray;
    font-weight: $fw4;
}

h1 {
    font-size: $fxxxl;
    margin-bottom: $m2;
}

h3 {
    font-size: $flg;
}

p,
a {
    font-size: $fmd;
    font-weight: $fw2;
}

a {
    color: $blue;

    &:visited {
        color: purple;
    }

    &:hover,
    &:active {
        color: orange;
    }
}