@import '../../styles/config';

.form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    width: 100%;

    @media (min-width: $md) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .form-full {
        grid-column: 1;

        @media (min-width: $md) {
            grid-column: 1 / span 2;
        }
    }
}