.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
    overflow: hidden;
    padding: $p0;

    &[card-type="deep"] {
        box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
    }

    &[card-type="none"] {
        box-shadow: none;
    }

    &[card-type="shallow"] {
        box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    }

    .card-content {
        padding: $p6;
    }
}