.p0 {
    padding: $p0;
}

.p1 {
    padding: $p1;
}

.p2 {
    padding: $p2;
}

.p3 {
    padding: $p3;
}

.p4 {
    padding: $p4;
}

.p5 {
    padding: $p5;
}

.p6 {
    padding: $p6;
}

.pb0 {
    padding-bottom: $p0;
}

.pb1 {
    padding-bottom: $p1;
}

.pb2 {
    padding-bottom: $p2;
}

.pb3 {
    padding-bottom: $p3;
}

.pb4 {
    padding-bottom: $p4;
}

.pb5 {
    padding-bottom: $p5;
}

.pl0 {
    padding-left: $p0;
}

.pl1 {
    padding-left: $p1;
}

.pl2 {
    padding-left: $p2;
}

.pl3 {
    padding-left: $p3;
}

.pl4 {
    padding-left: $p4;
}

.pl5 {
    padding-left: $p5;
}

.pr0 {
    padding-right: $p0;
}

.pr1 {
    padding-right: $p1;
}

.pr2 {
    padding-right: $p2;
}

.pr3 {
    padding-right: $p3;
}

.pr4 {
    padding-right: $p4;
}

.pr5 {
    padding-right: $p5;
}

.pt0 {
    padding-top: $p0;
}

.pt1 {
    padding-top: $p1;
}

.pt2 {
    padding-top: $p2;
}

.pt3 {
    padding-top: $p3;
}

.pt4 {
    padding-top: $p4;
}

.pt5 {
    padding-top: $p5;
}