.sm {
    font-size: $f1;
}

.md {
    font-size: $f2;
}

.lg {
    font-size: $f3;
}

.xl {
    font-size: $f4;
}

.xxl {
    font-size: $f5;
}

.xxxl {
    font-size: $f6;
}

.light {
    font-weight: $fw1;
}

.reg {
    font-weight: $fw2;
}

.semi {
    font-weight: $fw3;
}

.bold {
    font-weight: $fw5;
}

.heavy {
    font-weight: $fw6;
}