.sm {
    font-size: $fsm;
}

.md {
    font-size: $fmd;
}

.lg {
    font-size: $flg;
}

.xl {
    font-size: $fxl;
}

.xxl {
    font-size: $fxxl;
}

.xxxl {
    font-size: $fxxxl;
}

.light {
    font-weight: $fw1;
}

.reg {
    font-weight: $fw2;
}

.semi {
    font-weight: $fw3;
}

.bold {
    font-weight: $fw4;
}

.heavy {
    font-weight: $fw5;
}