@import '../../styles/config';

ol,
ul {
    padding-left: $p4;

    .sm {
        font-size: $f1;
    }

    .md {
        font-size: $f2;
    }

    .lg {
        font-size: $f3;
    }
}

ol {
    list-style: decimal;

    &.lower-alpha {
        list-style: lower-alpha;
    }

    &.lower-roman {
        list-style: lower-roman;
    }

    &.none {
        list-style: none;
        padding-left: $p0;
    }
}


ul {
    list-style: initial;

    &.circle {
        list-style: disc;
    }

    &.none {
        list-style: none;
        padding-left: $p0;
    }

    &.square {
        list-style: square;
    }
}