@import '../../styles/config';

.hero-section {
    margin-bottom: $m5;
    padding: $p4 $p0;
    width: 100%;

    &.half {
        display: grid;
        gap: $m3;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        @media (max-width: $sm-max) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    &.full {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    .hero-headline {
        line-height: $l1;
    }

    .hero-intro {
        font-size: $f3;
    }
}