@import '../../styles/config';

.app-bttn {
    background-color: $purple;
    border: none;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    font-size: $f2;
    padding: $p2 $p3;

    &:hover,
    &.primary:hover,
    &.secondary:hover {
        background-color: $pink;
        color: $white;
    }

    &.primary {
        background-color: $purple;
        color: $white;
    }

    &.secondary {
        background-color: $teal;
        border-color: $gray;
        color: $black;
    }

    &.tertiary {
        background-color: transparent;
        border: none;
        color: $black;

        &:hover {
            background-color: transparent;
            border: none;
            color: $blue;
        }
    }
}