@import '../../styles/config';

.app-bttn {
    background-color: $black;
    border: 1px solid $md-gray;
    border-radius: 8px;
    color: $white;
    padding: $p2 $p3;

    &:hover,
    &.primary:hover,
    &.secondary:hover {
        background-color: $blue;
        border-color: $gray;
        color: $white;
    }

    &.primary {
        background-color: $black;
        border-color: $md-gray;
        color: $white;
    }

    &.secondary {
        background-color: $lt-gray;
        border-color: $gray;
        color: $black;
    }

    &.tertiary {
        background-color: transparent;
        border: none;
        color: $black;

        &:hover {
            background-color: transparent;
            border: none;
            color: $blue;
        }
    }
}